*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #dbe9ee;
}

/* //////////////////////////////////// */
.article {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 15vh 0;
}

/* //////////////////////////////////// */
.content-box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.2s;
}

.content-box--hidden {
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* //////////////////////////////////// */
.heading-2 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #c0d6df;
    letter-spacing: 1px;
    align-self: start;
}

/* //////////////////////////////////// */
.btn-main--create {
    background-color: #4f6d7a;
}

.btn-main--update {
    background-color: #4a6fa5;
    margin-top: 3rem;
}

.btn-main--search {
    background-color: #166088;
    margin-top: 3rem;
}

/* /////////////////////////////////////// */
.btn-main {
    font-size: 3.2rem;
    color: #c0d6df;
    border: none;
    padding: 2.4rem 4.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    text-transform: capitalize;
}

.btn-main:hover {
    transform: translateY(-2rem);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

/* /////////////////////////////////////// */
.btn-box {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transition: all 0.4s;
}

.btn-box--hidden {
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* //////////////////////////////////// */
.form-box {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 2.4rem;
    border-radius: 10px;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.4s;
}

.form-box--hidden {
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.form-box--cadet {
    background-color: #4f6d7a;
}

.form-box--blue {
    background-color: #4a6fa5;
}

.form-box--saphire {
    background-color: #166088;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input {
    padding: 1.5rem 2rem;
    border: 0;
    border-radius: 5px;
}

.form__input::placeholder {
    font-size: 1.5rem;
    transition: all 0.4s;
}

.form__label {
    color: #c0d6df;
    font-size: 1.2rem;
    transform: translateY(-4rem);
    opacity: 0;
    transition: all 0.3s;
    margin-left: 2.1rem;
}

.form__input:focus {
    outline: none;
}

.form__input:focus + .form__label {
    opacity: 1;
    transform: translateY(0);
}

.form__input:focus::placeholder {
    transform: translateY(4rem);
    opacity: 0;
}

.btn-submit {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #4f6d7a;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dbe9ee;
    transition: all 0.4s;
}

.btn-submit:hover {
    transform: translateY(-0.5rem);
}

/* ///////////////////////////////////// */
.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    width: 25%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.result__group {
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.result__group:nth-child(even) {
    background-color: #c0d6df;
}

.result__label {
    flex: 0 0 30%;
}
